*{ 
    box-sizing: border-box;}
    body { 
        padding: 0;
        margin: 0;
    }
    .boxe1 { 
        gap: 100px;
        align-self: baseline; 
    }
    .BB{
        background-color: #3182C2;
        color: white;
        border-radius: 15px;

     }
     .box2 { 
        display: flex;
        justify-content: center;
        padding-top: 0;

     }
     .parent{ 
        display: flex;
        justify-content: s;
     }
